# Top level editorconfig
root = true

[*]
# UTF-8 Encoding
charset = utf-8

# Unix newlines
end_of_line = lf
insert_final_newline = true

trim_trailing_whitespace = true

[*.{c,h,py}]
tab_width = 4
indent_style = tab
indent_size = tab

[{CMakeLists.txt,*.cmake}]
tab_width = 4
indent_style = tab
indent_size = tab

[*.sh]
tab_width = 8
indent_style = tab
indent_size = tab
